@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Grotesk:wght@300..700&display=swap');

@import "tailwindcss";

@theme {
  --color-brand-neon: #D9FF00;
  --color-brand-purple: #9D00FF;
  --color-brand-purple-dark: #660099;
  --color-dark-bg: #0B0B0B;
  --color-dark-card: #141414;
  --font-sans: "Space Grotesk", sans-serif;
  --font-display: "Space Grotesk", sans-serif;
  --font-body: "Space Grotesk", sans-serif;
}

:root {
  background-color: var(--color-dark-bg);
  color: white;
  font-family: var(--font-body);
}

body {
  margin: 0;
  overflow-x: hidden;
}

@utility container {
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 1.5rem;
}
